nextflowVersion = '>=20.10.0'

trace.enabled = true
report.enabled = true
dag.enabled = true

singularity.enabled = true
singularity.autoMounts = true
singularity.pullTimeout = '1h'
singularity.runOptions = '--nv'
singularity.envWhitelist = 'CUDA_VISIBLE_DEVICES,PYTORCH_CUDA_ALLOC_CONF'

process {
    executor = 'slurm'
    containerOptions = '--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs" --bind "/home:/home"'
    clusterOptions = '--account=scjp1'
    beforeScript = 'module load singularity/4.1.5'
    shell = ['/bin/bash', '-ueo', 'pipefail']
    withName: CELLBENDER {
        clusterOptions='--account=cgates1 --partition=gpu_mig40,gpu --gres=gpu:1'
    }
}

executor {
    name = 'local'
    cpus = 5
    memory = '32 GB'
}


params.sample_id = null
params.results = "results"
params.cluster_res = 0.5    
params.df_pk = 0
params.genome = 'mm10'

params.blacklist = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38-blacklist.bed.gz', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/mm10-blacklist.bed.gz']
params.chrom_sizes = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/hg38.chrom_sizes', 'mm10': '/nfs/mm-isilon/bioinfcore/ActiveProjects/ncarruth/common/reference/10X_references/refdata-cellranger-arc-mm10-2020-A-2.0.0/mm10.chrom_sizes']
//params.bwa_index = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/topmed/bwa/0.7.15/hg38/hg38', 'mm10': '/scratch/scjp_root/scjp0/shared_data/reference/mouse/mm10/bwa/0.7.15/mm10/mm10']
params.tss = ['hg38': '/scratch/scjp_root/scjp0/shared_data/reference/human/hg38/topmed/tss/hg38.gene-name.tss.bed', 'mm10': '/nfs/mm-isilon/bioinfcore/ActiveProjects/ncarruth/common/reference/10X_references/refdata-cellranger-arc-mm10-2020-A-2.0.0/regions/tss.bed']
params.plot_signal_at_genes = ['GAPDH', 'MYH1', 'MYH2', 'MYH7'] // if these genes exist in the TSS file, ATAC signal near their TSS will be visualized

params.rna_barcode_whitelist = "/nfs/mm-isilon/bioinfcore/ActiveProjects/Lukacs_nlukacs_CU2-Multiome_ncarruth_rcavalca_12540-AE/RNASeq_II/snRNAseq-NextFlow/737K-arc-v1.txt"
params.atac_barcode_whitelist = "/nfs/mm-isilon/bioinfcore/ActiveProjects/Lukacs_nlukacs_CU2-Multiome_ncarruth_rcavalca_12540-AE/ATAC/snATACseq-NextFlow/737K-arc-v1.txt"

