nextflowVersion = '>=20.10.0'

trace.enabled = true
report.enabled = true
dag.enabled = true

singularity.enabled = true
singularity.autoMounts = true
singularity.pullTimeout = '1h'

process {
    executor = 'slurm'
    containerOptions = '--bind "/scratch:/scratch" --bind "/nfs:/nfs" --bind "/gpfs:/gpfs" --bind "/home:/home"'
    clusterOptions = '--account=scjp1'
    beforeScript = 'module load singularity/4.1.5'
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

executor {
    name = 'local'
    cpus = 5
    memory = '32 GB'
}

process.container = 'docker://ncarrut/singlecell_qc:second'

params.sample_id = null
params.rna_results_dir = null
params.atac_results_dir = null
params.outdir = "results"
